 <div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="new-widget-area">
      <div class="title"><%= @dashboard.name %></div>
      <div class="row customs">
        <div class="col-sm-7">
          <i class="fa fa-plus"></i>
          <%= link_to  "Add New Widgets ",new_admin_dashboard_dashboard_widget_path(@dashboard), :remote=>true, 'data-toggle'=>"modal", 'data-target'=>"#myModal" %>
        </div>
        <div class="col-sm-5 text-right">
          <i class="fa fa-trash"></i>
          <%= link_to "Delete", admin_dashboard_path(@dashboard), method: :delete, data: { confirm: 'Data cannot be retained back if deleted. Are you sure you want to delete the dashboard?' } %>
          <i class="fa fa-pencil-square-o"></i>
          <%= link_to "Edit", edit_admin_dashboard_path(@dashboard), :remote=>true %>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div>
    </div>
    <div id="d_flash_message" class="flash">
    </div>
    <!-- Selected widgets -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Selected widgets</h3>
      </div>
      <%  @widgets = DashboardWidget.where(:dashboard_id => @dashboard.id) %>
      <% if @widgets.any? %>
      <div class="panel-body selected-widgets-area">
        <% @widgets.each do |w|%>
        <div class="row tiles">
          <div class="col-sm-7">
            <a><%= Widget.find(w.widget_id).widget_type %> - <%= Widget.find(w.widget_id).name %></a>
          </div>
          <div class="col-sm-5 text-right">
            <i class="fa fa-trash"></i> <%= link_to "Delete", admin_dashboard_dashboard_widget_path(@dashboard, w.widget_id), method: :delete, data: { confirm: "Are you sure you want to delete the widget?" }, :remote=>true %>
            <a data-toggle="modal" data-target="#myModal"><%= link_to "Configure", edit_admin_dashboard_dashboard_widget_path(@dashboard, w.widget_id, widget_id: w.id), :remote=>true %></a>
            <% if w.status == "configured" %><i style="color:green;">&#10004;</i><% end %>
          </div>
        </div>
        <%  end %>
        <% else %>
        <center>No Widgets</center>
        <% end%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function(){
    $('.flash').remove();
  }, 5000);
</script>
