  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="new-widget-area">
        <div class="title"><%= @dashboard.name %></div>
        <div class="row customs">
          <div class="col-sm-7">
            <i class="fa fa-plus"></i> 
            <%= link_to  "Add New Widgets ",new_admin_dashboard_dashboard_widget_path(@dashboard), :remote=>true, 'data-toggle'=>"modal", 'data-target'=>"#myModal" %>
          </div>
          <div class="col-sm-5 text-right">
            <i class="fa fa-trash"></i>
            <%= link_to "Delete", admin_dashboard_path(@dashboard), method: :delete, data: { confirm: 'Data cant be retained back if deleted. Are you sure you want to delete the dashboard?' }, :remote=>true %>
            <i class="fa fa-pencil-square-o"></i>
            <%= link_to "Edit", edit_admin_dashboard_path(@dashboard), :remote=>true %>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>Selected Widgets</h5>
    </div>
    <%  @widgets = DashboardWidget.where(:dashboard_id => @dashboard.id) %>
    <% if @widgets.any? %>
    <div class="scroll" style="padding:20px;">
      <% @widgets.each do |w|%>
      <div class="panel panel-default dashboard_talks ">
        <div class="panel-body text-color-green panel-setting" style="height:auto;padding: 24px;">
          <%= Widget.find(w.widget_id).widget_type %> - <%= Widget.find(w.widget_id).name %>
          <%= link_to "Configure", edit_admin_dashboard_dashboard_widget_path(@dashboard, w.widget_id), :remote=>true, role: "menuitem", tabindex: "-1", class: "pull-right ml-10 text-color-green" %>
          <%= link_to raw("<i class=\"fa fa-trash mr-5\"></i> Delete"), admin_dashboard_dashboard_widget_path(@dashboard, w.widget_id), method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: "Are you sure you want to delete the widget?" }, :remote=>true , class: "pull-right ml-10 text-color-green"%>
        </div>
      </div>
      <%  end %>
      <% else %>
      <div class="panel panel-default dashboard_talks">
        <div class="panel-body" style="height:auto;padding: 24px;">
          No Widgets
        </div></div>
        <% end%>
      </div>
    </div>


    