<%#= render :partial=>"layouts/poodle/application/page_header" %>
<div class="row text-right mb-10 mt-20">
    <%= link_to 'Add New Dashboard', new_admin_dashboard_path, :remote => true %>
   
    <% if @dashboard_widget.present? %> 
    <% if @dashboard_widget.access_token? && @dashboard_widget.nil? %>
    <a href="/dashing/dashboards?access_token=<%= @dashboard_widget.access_token%>">View As Wallboard</a>
    <% else %> 
    <% binding.pry %>
    <% @dashboard_widget.code_api_token.present? && @dashboard_widget.code_repo_id.present? %>
    <a href="/dashing/dashboards?code_api_token=<%= @dashboard_widget.code_api_token%>&code_repo_id=<%= @dashboard_widget.code_repo_id %>">View As Wallboard</a>
    <% end %>
    <%else%>
    No Dashboard Widgets
    <% end %>
</div>
<div class="row dashboard_index">
  <div id="div_dashboard_index" class="col-sm-6 hidden-xs">
    <%= render :partial=>"index" %>
  </div>
  <div id="div_dashboard_drop_down" class="col-xs-12 visible-xs">
  </div>
  <div class="col-xs-12 col-sm-6 a">
    <div id="div_dashboard_show">
      <%= render :partial=>"show", locals: {:dashboard => @dashboard } %>
    </div>
  </div>
  </div>
