<% if @dashboards.present? %>
<div class="text-right dash-btn-group">
  <%= link_to 'Add New Dashboard', new_admin_dashboard_path, :remote => true, :class=>"btn btn-primary" %>
  <% if $dashboard_widget_github.present? || $dashboard_widget_github_url.present? || $dashboard_widget_code.present? || $dashboard_widget_jira.present? %>

  <% if $dashboard_widget_github.present? %>
  <a href="/dashing/dashboards?access_token=<%= $dashboard_widget_github.access_token%>&organization_name=<%= $dashboard_widget_github.organization_name %>&repo_name=<%= $dashboard_widget_github.repo_name %>&pr_status=<%= $dashboard_widget_github.github_status_prs %>", class="btn btn-primary">View As Wallboard</a>
  <% elsif $dashboard_widget_github_url.present? %>
  <a href="/dashing/dashboards?github_url=<%= $dashboard_widget_github_url.github_url%>", class="btn btn-primary">View As Wallboard</a>
  <% elsif $dashboard_widget_code.present? %>
  <a href="/dashing/dashboards?code_api_token=<%= $dashboard_widget_code.code_api_token%>&code_repo_id=<%= $dashboard_widget_code.code_repo_id %>", class="btn btn-primary">View As Wallboard</a>
  <% end %>
  <% else %>
  <!-- No Dashboard Widgets -->
  <% end %>​
</div>
<div class="row dashboard_index">
  <div id="div_dashboard_index" class="col-sm-6 hidden-xs">
    <%= render :partial=>"index" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div id="div_dashboard_show">
      <%= render :partial=>"show", locals: {:dashboard => @dashboard } %>
    </div>
  </div>
</div>
</div>
</div>
<% else %>
<div class="text-right dash-btn-group">
  <%= link_to 'Add New Dashboard', new_admin_dashboard_path, :remote => true, :class=>"btn btn-primary" %>
  <% if $dashboard_widget_github.present? || $dashboard_widget_github_url.present? || $dashboard_widget_code.present? || $dashboard_widget_jira.present? %>

  <% if $dashboard_widget_github.present? %>
  <a href="/dashing/dashboards?access_token=<%= $dashboard_widget_github.access_token%>&organization_name=<%= $dashboard_widget_github.organization_name %>&repo_name=<%= $dashboard_widget_github.repo_name %>", class="btn btn-primary">View As Wallboard</a>
  <% elsif $dashboard_widget_github_url.present? %>
  <a href="/dashing/dashboards?github_url=<%= $dashboard_widget_github_url.github_url%>", class="btn btn-primary">View As Wallboard</a>
  <% elsif $dashboard_widget_code.present? %>
  <a href="/dashing/dashboards?code_api_token=<%= $dashboard_widget_code.code_api_token%>&code_repo_id=<%= $dashboard_widget_code.code_repo_id %>", class="btn btn-primary">View As Wallboard</a>
  <% end %>
  <% else %>
  <!-- No Dashboard Widgets -->
  <% end %>​
</div>
<div class="row dashboard_index">
  <div id="div_dashboard_index" class="col-sm-6 hidden-xs">
    <div class="nodashboard">Nothing to display</div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div id="div_dashboard_show">
     <div class="nodashboard"> Nothing to display</div>
   </div>
 </div>
</div>
</div>
</div>
<% end %>

