<%#= render :partial=>"layouts/poodle/application/page_header" %>
<div class="row text-right mb-10 mt-20">
  <%= link_to 'Add New Dashboard', new_admin_dashboard_path, :remote => true %>
  <% if $dashboard_widget_github.present? || $dashboard_widget_code.present? || $dashboard_widget_code.present? %>

    <% if $dashboard_widget_github.present? %>
      <a href="/dashing/dashboards?access_token=<%= $dashboard_widget_github.access_token%>&organization_name=<%= $dashboard_widget_github.organization_name %>&repo_name=<%= $dashboard_widget_github.repo_name %>">View As Wallboard</a>
    <% elsif $dashboard_widget_code.present? %>
      <a href="/dashing/dashboards?code_api_token=<%= $dashboard_widget_code.code_api_token%>&code_repo_id=<%= $dashboard_widget_code.code_repo_id %>">View As Wallboard</a>
  <% else %>
      <!-- <a href="/dashing/dashboards?rapidView=<%#= $dashboard_widget_jira.jira_view_id %>&projectKey=<%#= $dashboard_widget_jira.project_key %>">View As Wallboard</a> -->
    <% end %>
  <% else %>
    No Dashboard Widgets
  <% end %>​
    </div>
    <div class="row dashboard_index">
      <div id="div_dashboard_index" class="col-sm-6 hidden-xs">
        <%= render :partial=>"index" %>
      </div>
      <div id="div_dashboard_drop_down" class="col-xs-12 visible-xs">
      </div>
      <div class="col-xs-12 col-sm-6 a">
        <div id="div_dashboard_show">
          <%= render :partial=>"show", locals: {:dashboard => @dashboard } %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Manage-users", admin_users_path(@dashboard) %>
  </div>

