 <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
    <%= form_for :user, :html => {:url => admin_users_path, :method => :post, :id => "create_user",:remote => true} do |f| %>
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Dashboard</h3>
  </div>
  <div class="panel-body" style="height:auto;">
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Name *</label>
      <div class="col-sm-8">
        <%= f.text_field :name, :class=>"form-control",  :placeholder=>"Name" %>
      </div>
    </div><br><br>
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Email *</label>
      <div class="col-sm-8">
        <%= f.text_field :email, :class=>"form-control",  :placeholder=>"Email" %>
      </div>
    </div><br><br>
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Password *</label>
      <div class="col-sm-8">
        <%= f.password_field :password, :class=>"form-control",  :placeholder=>"Password" %>
      </div>
    </div><br><br>
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Password Confirmation *</label>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :class=>"form-control",  :placeholder=>"Password Confirmation" %>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <%= link_to "Cancel", admin_users_path, :class => "btn btn-default", remote: true %>
    <%= f.submit "OK", :class => "btn btn-primary" %>
  </div>
  <% end %>
  </div>
  </div>
  </div>