
<script type='text/javascript'>
  $(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  $('.gridster ul').gridster({
    widget_margins: [6, 6],
    widget_base_dimensions: [300, 225]
  });
  var gridster = $('.gridster ul').gridster().data('gridster');


});
</script>

<% if (params[:dashboard_id]).present? %>
<div class="gridster">
<% dashboard = Dashboard.find(params[:dashboard_id])%>
  <div class="hh"><%= dashboard.name %></div>
  <ul>
    <% @json_obj.each do |obj| %>
    <% case (Widget.find obj["widget_id"]).name %>
    <%  when "Github-Open-PR" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="open_pr_<%= params[:dashboard_id].to_i %>"></div>
    </li>
    <% when "Github-Closed-PR" %>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="closed_pr_<%= params[:dashboard_id].to_i %>"></div>
    </li>
    <% when "Github-Status" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="traffic-lights_<%= params[:dashboard_id].to_i %>" data-view="TrafficLights" data-title="Github"></div>
    </li>
    <% when "GPA" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="code-climate_<%= params[:dashboard_id].to_i %>" data-view="Codeclimate" data-title="Code Climate"></div>
    </li>
    <% when "Sprint-progress" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sprint_progress_<%= params[:dashboard_id].to_i %>" data-view="SprintProgress" data-title="Sprint Progress"></div>
    </li>
    <% when "Sprint-remaning-days" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="view<%= params[:dashboard_id].to_i %>" data-view="JiraSprintRemainingDays"></div>
    </li>
    <% when "Jira Stories Details" %>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jira<%= params[:dashboard_id].to_i %>" data-view="JiraDetails"></div>
    </li>
    <% when "Build-test" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkinsBuildStatus" data-view="JenkinsBuildStatus" data-title="Jenkins"></div>
    </li>
    
     <% when "Error-Rate" %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm<%= params[:dashboard_id].to_i %>_error_rate" data-view="Number" data-title="New Relic Error Rate" data-min="0" data-max="100"></div>
    </li>
    
    <% when "Burn Down Chart" %>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" style="background-color: white">
      <div data-id="myBurndown<%= params[:dashboard_id].to_i %>" data-view="JiraBurndown" ></div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<% else %>
<!--  -->
<div class="gridster">
  <div class="hh">Qwinix Updates</div>
  <ul>
<% vars = request.query_parameters %>
<% if vars['w']=='cu' %>
 <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
    <div data-view="Text" data-id="update"style="background-color: grey"></div>
  </li>
<% end -%>
<% if vars['w']=='fb' %>
 <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
    <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" ></div>
    <i class="icon-facebook icon-background"></i>
  </li>
<% end -%>
<% if vars['w']=='tw' %>
 <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
    <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
  </li>
<% end -%>
<% if vars['w']=='cu|fb' %>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Text" data-id="update" style="background-color: grey" ></div>
  </li>
  <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
    <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" ></div>
    <i class="icon-facebook icon-background"></i>
  </li>
<% end -%>
<% if vars['w']=='cu|tw' %>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Text" data-id="update" style="background-color: grey"></div>
  </li>
  <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
     <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
  </li>
<% end -%>
<% if vars['w']=='fb|tw' %>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
       <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" ></div>
    <i class="icon-facebook icon-background"></i>
  </li>
  <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
     <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
  </li>
<% end -%>
<% if vars['w']=='cu|fb|tw' %>
 <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
    <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" ></div>
    <i class="icon-facebook icon-background"></i>
  </li>
 <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
    <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
  </li>
 <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
    <div data-view="Text" data-id="update"style="background-color: grey"></div>
  </li>
<% end -%>
  </ul>
</div>
<% end %>
<script type='text/javascript'>
  $(".gridster").hide();
  $(window).load(function() {

    setTimeout(function(){
      var count = $(".gridster").find(".gs_w").length;
      if( count === 1 ){
        $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "4.04").attr("data-sizey", "3");
      }
      if( count === 2 ){
        $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "3");
        $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "3");
      }
      if( count === 3 ){
       if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){
         $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "4").attr("data-sizey", "2");
         $(".gs_w:eq(1)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
         $(".gs_w:eq(2)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
       }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){
         $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "4").attr("data-sizey", "1");
         $(".gs_w:eq(1)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "3").attr("data-sizey", "2");
         $(".gs_w:eq(2)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");
       }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){
         $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
         $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
         $(".gs_w:eq(2)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "4").attr("data-sizey", "2");

       }else{
        $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "3");
        $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "3");
        $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "3");
      }
      

    }
    
    if( count === 4 ){

     if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){
      $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
      $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
      $(".gs_w:eq(2)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
      $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){
      $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
      $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
      $(".gs_w:eq(2)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
      $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){
     $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
     $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
     $(".gs_w:eq(2)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
     $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  
   
   }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  
  
  }else{
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "3");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "3");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "3");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "3");  
  }

}
if( count === 5 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){

   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");  
  
  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");  
  
  }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");  
  
  }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  
  

  }else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  


  }else{
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
  }
}
if( count === 6 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){

    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");   
  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");   
  }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
  }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");  
  }else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");  
  }else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  


  }else{
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
  }
}
if( count === 7 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){

    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){
   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
  }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(5)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
  }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");  
  }else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");  

  }else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "2");  
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "2");  


  }else if( $(".gs_w:eq(6)").find(".widget-jira-burndown").length === 1 ){
    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");  
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");  
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");  

  }else{

    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "2");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "2");

  }
}

if( count === 8 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){

    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");

  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){

   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1"); 
   


 }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(6)").find(".widget-jira-burndown").length === 1 ){
 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(7)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");

}else{

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");

}
}






if( count === 10 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){


    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");




  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){

    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


  }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){

   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


 }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");

}else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");

}else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");



}else if( $(".gs_w:eq(6)").find(".widget-jira-burndown").length === 1 ){
 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");






}else if( $(".gs_w:eq(7)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}else if( $(".gs_w:eq(8)").find(".widget-jira-burndown").length === 1 ){

 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");



}else{

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}
}




if( count === 9 ){
  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){


    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){

   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

 }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


}else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");


}else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");



}else if( $(".gs_w:eq(6)").find(".widget-jira-burndown").length === 1 ){
 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");






}else if( $(".gs_w:eq(7)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}else if( $(".gs_w:eq(8)").find(".widget-jira-burndown").length === 1 ){
 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");



}else{

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


}
}





if( count === 11 ){





  if( $(".gs_w:eq(0)").find(".widget-jira-burndown").length === 1 ){


    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


  }else if( $(".gs_w:eq(1)").find(".widget-jira-burndown").length === 1 ){


    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");



















  }else if( $(".gs_w:eq(2)").find(".widget-jira-burndown").length === 1 ){


    $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
    $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
    $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");



  }else if( $(".gs_w:eq(3)").find(".widget-jira-burndown").length === 1 ){

   $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
   $(".gs_w:eq(3)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
   $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

 }else if( $(".gs_w:eq(4)").find(".widget-jira-burndown").length === 1 ){


  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}else if( $(".gs_w:eq(5)").find(".widget-jira-burndown").length === 1 ){


 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}else if( $(".gs_w:eq(6)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex","1").attr("data-sizey", "1");


}else if( $(".gs_w:eq(7)").find(".widget-jira-burndown").length === 1 ){

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


}else if( $(".gs_w:eq(8)").find(".widget-jira-burndown").length === 1 ){
 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
 $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");




}else if( $(".gs_w:eq(9)").find(".widget-jira-burndown").length === 1 ){
  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");


}else if( $(".gs_w:eq(10)").find(".widget-jira-burndown").length === 1 ){

 $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(7)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
 $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "2").attr("data-sizey", "1");





}else{

  $(".gs_w:eq(0)").attr("data-row", "1").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(1)").attr("data-row", "1").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(2)").attr("data-row", "1").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(3)").attr("data-row", "1").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(4)").attr("data-row", "2").attr("data-col", "1").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(5)").attr("data-row", "2").attr("data-col", "2").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(6)").attr("data-row", "2").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(7)").attr("data-row", "2").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(8)").attr("data-row", "3").attr("data-col", "1").attr("data-sizex", "2").attr("data-sizey", "1");
  $(".gs_w:eq(9)").attr("data-row", "3").attr("data-col", "3").attr("data-sizex", "1").attr("data-sizey", "1");
  $(".gs_w:eq(10)").attr("data-row", "3").attr("data-col", "4").attr("data-sizex", "1").attr("data-sizey", "1");

}
}



$(".gridster").fadeIn();
}, 2000)

});
</script>
<style>
  .hh{ 
    background: rgba(240,0,0,0.6);
    border-bottom: 4px;
    border-left: 4px;
    border-right: 4px;
    border-top: 4px;
    font: italic normal 150% 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    margin: 0px;
    padding: -3px 5px 5px 20px;
    text-align: center;
    position: fixed;
    right: -48px;
    z-index: 20;
    font-size: 24px;
    top: 33px;
    padding: 4px 50px;
    transform: rotate(36deg);
  }
</style>


