<!DOCTYPE html>
<html>
<head>
	<title>Dashingproject</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<% if current_user %>
<%= render :partial=>"layouts/dashing/header" %>
<% end %>
<body>
	<div id="popup_modal"></div>
		<%= yield %>
</body>
</html>
